*{
    margin:0;
    padding: 0;
    font-family:Arial;
    box-sizing:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    width:160px;
     height:45px;
   /* padding-left: 20px; */
 .logo{
    width:145px;
     height:45px;
 }
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1px solid white;
}
.nav-adress{
   
    width: 80px;
    height: 50px;
}
.ad-first{
    color:#cccccc;
    font-size:0.85rem;
    padding-left: 12px;
}
.ad-second{
    font-size: 1rem;
}
.ad-icon{
    display:flex;
    align-items: center;
}
/*box 3*/
.nav-search{
    display: flex;
    justify-content:space-evenly;
    background-color: pink;
    width:620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}
.nav-search:hover{
    border:2px solid orange;
}
/**box4**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box6*/
.nav-cart i{
     font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
}
/*panel*/
.panel {
    background-color: #222f3d;
    height:40px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-icon{
    font-size: 20px;
}
.ops{
    display:flex;
    width:90%;
}
.ops p {
    margin: 10px;
}
/*main*/
.main{
 background-image: url("/assets/box1.jpg");
 background-size: cover;
    width:1700px;
    height:600px;
    display: flex;
    justify-content: space-evenly;
  
}
.box{
    height:420px;
    width:22%;
    background-color: white;
    position: relative;
    top:350px;
}
.b{
    font-size: 26px;
    font-weight: 500;
    position: relative;
    top:15px;
    left: 17px;
}
.img1{
    background-image: url("/assets/img1.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:45px;
    left:17px;
}
.img2{
    background-image: url("/assets/img2.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:45px;
    left:17px;
}
.img3{
    background-image: url("/assets/img3.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:15px;
    left:17px;
}
.b3-link{
    font-size: 17px;
    position: relative;
    top:25px;
    left:17px;
    color: rgb(147, 147, 235);
}
.img4{
    background-image: url("/assets/img4.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:45px;
    left:17px;
}
.b-link{
    font-size: 17px;
    position: relative;
    top:58px;
    left:17px;
    color: rgb(147, 147, 235);
}
.shop-sec{
    height: 650px;
    background-color: #e2e7e6;
    display: flex;
    justify-content: space-evenly;
}

.box_3{
    height:420px;
    width:22%;
    background-color: white;
    position: relative;
    top:195px;
}
.img5{
    background-image: url("/assets/img5.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:45px;
    left:17px;
}
.img6{
    background-image: url("/assets/img6.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:45px;
    left:17px;
}
.img7{
    background-image: url("/assets/img7.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:45px;
    left:17px;
}
.img8{
    background-image: url("/assets/img8.jpg");
    height: 300px;
    width: 340px;
    position: relative;
    top:45px;
    left:17px;
}

footer{
    margin-top: 15px;
}

.foot-1{
    background-color: #37475a;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot2{
    background-color:#222f3d ;
    color:white;
    display:flex;
height:500px;
    justify-content: space-evenly;
    align-items: center;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}
.foot3{
    background-color:#222f3d ;
    border-top:0.5px solid white;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
._logo{
    background-image: url("/assets/logo.png");
    background-size: cover;
    height:50px;
    width:130px;
}
.foot4{
    height: 50px;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}